# Node modules
node_modules/

# Build output
dist/
results/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# local chroma save directory
/data
